<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bilingaddress.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @bilingaddress.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bilingaddress.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bilingaddress.email %>
</p>

<p>
  <strong>Addressline1:</strong>
  <%= @bilingaddress.addressline1 %>
</p>

<p>
  <strong>Addressline2:</strong>
  <%= @bilingaddress.addressline2 %>
</p>

<p>
  <strong>Addressline3:</strong>
  <%= @bilingaddress.addressline3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @bilingaddress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @bilingaddress.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @bilingaddress.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bilingaddress.zipcode %>
</p>

<p>
  <strong>Order:</strong>
  <%= @bilingaddress.order_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bilingaddress.user_id %>
</p>

<%= link_to 'Edit', edit_bilingaddress_path(@bilingaddress) %> |
<%= link_to 'Back', bilingaddresses_path %>
