<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carrer.name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @carrer.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @carrer.mother_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @carrer.string %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @carrer.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @carrer.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @carrer.email %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @carrer.resume %>
</p>

<p>
  <strong>Image:</strong>
  <%= @carrer.image %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @carrer.signature %>
</p>

<%= link_to 'Edit', edit_carrer_path(@carrer) %> |
<%= link_to 'Back', carrers_path %>
