<div class="container-fluid">
<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
  
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
           <!--  <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/300/4" /></div>
              <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
              <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
              <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
              <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
            </div> -->
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="<%=@product.image%>" data-toggle="tab"><img class="product-image" src="<%=@product.image%>"alt="Lights" /></a></li>
             
            </ul>
            
          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%=@product.title %></h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="available_items"><%= @product.available_item %></p>
             <p class="product-description"><%= @product.description %></p>
            <h4 class="price">Current Price: <span>$<%=@product.display_full_price %></span></h4>
            <p class="vote"><strong>91%</strong> of Buyers enjoyed this Product! <strong>(87 votes)</strong></p>
            <h5 class="sizes">Sizes:
              <span class="size" data-toggle="tooltip" title="small">S</span>
              <span class="size" data-toggle="tooltip" title="medium">M</span>
              <span class="size" data-toggle="tooltip" title="large">L</span>
              <span class="size" data-toggle="tooltip" title="xtra large">Xl</span>
            </h5>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">Add to cart</button>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <div class="tab2 tab_body">
              <h4>Customer reviews</h4>
              <div id="review-rating">
                <% if current_user.present? %>
                <%= form_for :rating_reviews, url: rating_reviews_path(product_id: @product.id) ,  method: :post do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Rating" %></h3>
                      <%= f.hidden_field :rating, class:"form-control live-rating", :required => true, value: @rating_review.rating  %>
                      <%= f.hidden_field :rating_review_id, value: @rating_review.id%>
                      <div class="my-rating"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Review" %></h3>
                      <%= f.text_area :review, class:"form-control", rows:"12", :required => true, value: @rating_review.review  %>
                      <%#= f.file_field :image, class: "form-control", rows:"12", value: @rating_review.image %><br/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <% if @rating_review.new_record? %>
                    <%= f.submit "Add Review", class:"btn btn-primary btn float-right" %>
                    <% else %>
                    <%= f.submit "Update Review", class:"btn btn-primary btn float-right" %>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <div id="review-rating">
                <% if current_user.present? %>
                <%= form_for :rating_reviews, url: rating_reviews_path(product_id: @product.id) ,  method: :post do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Rating" %></h3>
                      <%= f.hidden_field :rating, class:"form-control live-rating", :required => true, value: @rating_review.rating  %>
                      <%= f.hidden_field :rating_review_id, value: @rating_review.id%>
                      <div class="my-rating"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Review" %></h3>
                      <%= f.text_area :review, class:"form-control", rows:"12", :required => true, value: @rating_review.review  %>
                      <%#= f.file_field :image, class: "form-control", rows:"12", value: @rating_review.image %><br/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <% if @rating_review.new_record? %>
                    <%= f.submit "Add Review", class:"btn btn-primary btn float-right" %>
                    <% else %>
                    <%= f.submit "Update Review", class:"btn btn-primary btn float-right" %>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <script type="text/javascript">
                $('#review-rating').hide()
                $('.show-review').on('click', function () {
                   $('#review-rating').show()
                })
                $(".my-rating").starRating({
                  initialRating: '<%= @rating_review.display_rating %>',
                  disableAfterRate: false,
                  onHover: function(currentIndex, currentRating, $el){
                    $('.live-rating').text(currentIndex);
                  },
                  onLeave: function(currentIndex, currentRating, $el){
                    $('.live-rating').val(currentRating*2);
                    console.log(currentRating*2)
                  }
                });
              </script>
              <br>
              <% @product.rating_reviews.order("rating_reviews.created_at DESC").each do |rating_review|%>
              <div class="review-block">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="preview slides_container">
                      <div class="prev_bg">
                        
                        </a>
                       </div>
                      </div>
                    <div class="review-block-name"><a href="#"><%= rating_review.user.email %></a></div>
                    <div class="review-block-date"><%= rating_review.created_at.strftime('%d %b %Y')%><br/><%= time_ago_in_words(rating_review.created_at, include_seconds: true) %> Ago</div>
                  </div>
                  <div class="col-sm-9">
                    <div class="review-block-rate">
                      <% (1 .. (rating_review.rating/2)).each do |rr|%>
                      <span class="glyphicon glyphicon-star"></span>
                      <% end %>
                      <% if rating_review.half_star? %>
                      <span class="glyphicon glyphicon-star half"></span>
                      <% end %>
                    </div>
                    <div class="review-block-description"><%= rating_review.review%></div>
                  </div>
                </div>
                <hr/>
              </div>
              <% end %>
              <script type="text/javascript">
                setTimeout(function(){
                    var scriptt = document.createElement('script');
                    scriptt.type = 'text/javascript';
                    scriptt.src = "https://i2.sdlcdn.com/js/1556186736112/snap/reviews.revamp.min.js";
                    scriptt.async = 'true';
                    document.head.appendChild(scriptt);
                },10);
              </script>
              <div class="clear"></div>
            </div>





  </body>
</html>
  <style type="text/css">
  .glyphicon-star {
  font-size: 15px;
  color: #f3a108;
  }
  .glyphicon-star.half {
  position: relative;
  }
  .glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
  }
  .glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
  }
  .inla
  {
  color: red;
  }
  .zoomWrapperImagyse
  {
    height: 50px !important;
    width: 50px !important;
  }
</style> 
<%#= rating_for @product, 'star', cancel_on: 'cancel-on2.png' %>

<!-- <%#= link_to 'Edit', edit_product_path(@product) %> |
<%#= link_to 'Back', products_path %> -->