<!DOCTYPE html>
<html>
  <head>
    <title>Shopix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="/products" class="navbar-brand">Products</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="/" class="nav-item nav-link active">Home</a>
              
             <!--  <a href="/products" class="nav-item nav-link">Products</a>
 -->


             <!--  <div class="nav-item dropdown">
                  <a href="/users/edit" class="nav-link dropdown-toggle" data-toggle="dropdown">Profile Page</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Inbox</a>
                      <a href="#" class="dropdown-item">Sent</a>
                      <a href="#" class="dropdown-item">Drafts</a>
                  </div> -->
              </div>
          </div>
          <form class="form-inline" action="/home/index">
              <div class="input-group">                    
                  <input type="text" name="search_key" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>

      <% if user_signed_in? %>
        <% if current_user[:role] == "admin" %>
          <div class="navbar-nav">
            <a href="/users/sign_out" class="nav-item nav-link">Sign Out</a>
            </div>
            <li> <a>Current User: <%= current_user.email %></a></li>
        <% else %>
          <div class="navbar-nav">
             <a href="/users/edit" class="nav-item nav-link active">Profile Page</a>
             <div class="navbar-nav">
              <a href="/orders" class="nav-item nav-link active">Orders</a>
              </div>
            <a href="/wishlist" class=" nav-item nav-link active"><li class="fa fa-heart"></li>&nbsp<%= current_user.wishlists.count %></a>
                        <a href="/cart_item" class="nav-item nav-link active"><li class="fa fa-shopping-cart "></li>&nbsp<%= current_user.carts.count %></a>
            
             <a href="/users/sign_out" class="nav-item nav-link active">Sign Out</a>

          </div>
        <% end %>
      <% else %>
        <div class="navbar-nav">
              <a href="/users/sign_in" class="nav-item nav-link">Sign In</a>
        </div>
        <div class="navbar-nav">
            <a href="/users/sign_up" class="nav-item nav-link">Sign Up</a>
        </div>
      <% end %>

      </div>
    </nav>

  <%= yield %>
  <!-- Footer -->
  <footer class="page-footer font-small bg-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Buyers Section</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/bsuppliers">Search Product & Suppliers</a>
            </li>
            <li>
              <a href="/home/brequirements">Post Your Requirements</a>
            </li>
            <li>
              <a href="/home/bcomplaints">Complaints</a>
            </li>
            <li>
              <a href="/home/bfeedbacks">Feedbacks</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Seller Section</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/sadvertise">Advertise Your Profile</a>
            </li>
            <li>
              <a href="/home/spost">Post Your Product</a>
            </li>
            <li>
              <a href="/home/sadvertise">Advertise Your Product</a>
            </li>
            <li>
              <a href="/home/sconnect">Connect with Us</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Customer Tool Kit</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/cbuy">Product You Buy</a>
            </li>
            <li>
              <a href="/home/csection">Customer Section</a>
            </li>
            <li>
              <a href="/home/cfeedbacks">Products Feedback</a>
            </li>
            <li>
              <a href="/home/cdiscount">Products at Discount</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Others</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/about">About Us</a>
            </li>
             <li>
              <a href="/home/privacy">Privacy</a>
            </li>
            <li>
              <a href="/home/contact">Contact Us</a>
            </li>
            <li>
              <a href="/home/customercare">How It Works</a>
            </li>
            <li>
              <a href="/home/job">Terms and Conditions</a>
            </li>
          </ul>

        </div>
        

      </div>
      

    </div>
    
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://bitterntec.com/"> www.bitterntec.com</a>
    </div>
    
  </footer>
  </body>
</html>
